{% extends('base.html.twig') %}

{% block body %}
    <h1>What yoo wanna kno?</h1>
    <p>
        ha deet deee
    </p>
    <p>
        Still working on this.. ignore text below... and above &#128513;
    </p>
    <p>
        I develop in Linux and Windows environments, and also have experience in the PHP frameworks Magento and Wordpress.
        I Apache or NGINX web server software, and building frontend UI/UX with HTML5, CSS3 and SASS,
        Javascript, jQuery, VueJS, and Bootstrap.

        Thank you for checking out my website/portfolio!
    </p>
{% endblock %}
