{% extends 'base.html.twig' %}

{% block title %}Post - {{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <img class="mw-100" alt="Post Image" src="{{ '/uploads/' ~ post.image }}" />
{% endblock %}
