{% extends 'base.html.twig' %}

{% block title %}Post - {{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>
        <b>Category: </b><em>{{ post.category.name }}</em>
    </p>
    <img class="w-50 h-50" alt="Post Image" src="{{ '/uploads/' ~ post.image }}" />
{% endblock %}
